@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,400;0,500;0,700;1,900&family=Bebas+Neue&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Barlow Semi Condensed;
    cursor: url('../images/mouse.svg'), auto;
}


::selection{
    background-color: orangered;
    color: white;
}

.menu-bar{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100px;
    background-color: white;
}


.menu-bar img{
    width: 92px;
    height: 56px;
    margin-left: 20px ;
    margin-top: 10px;
    cursor: pointer;
}

.menu-bar li{
    display: inline-block;
    margin: 10px;
    list-style: none;
    margin-top: 30px;
}

.menu-bar li a{
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: gray;
    transition: 0.15s ease-in-out;
    cursor: pointer;
    
}

.menu-bar li a:hover{
    color:orangered;
    text-decoration: underline;
    text-decoration-color: black;

}

.header{
    height: 80vh;
    width: 100%;
    position: relative;

}

.img{
    background: url(/images/about-us-consulting.jpg);
    height: 80vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 20%;
}

.line-design{
    width: 100%;
    height: 5px;
    background-color: orangered;
}


.about-us{
    width: 120px;
    height: 40px;
    background-color: orangered;
}

marquee{
    position: absolute;
    top: 81%;
    margin-top: 2px;
    z-index: -1;
}

.about-us-text{
    width: 70%;
    padding: 5px 30px;
    height: 30px;
    margin-left: 15%;
    text-align: center;

}

.about-us-text h1{
    margin-bottom: 30px;
    color: orangered;
    font-size: 50px;
}

.about-us-text p{
  font-size: 21px;
  line-height: 35px;
}

.plenty-text{

    height: 700px;
    width: 80%;
    position: relative;
    margin-top: 300px;
    padding: 50px;
    background: url(/images/4.jpg);
    background-repeat: no-repeat;
    opacity: 1;
    background-size: cover;
    left: 10%;
    margin-bottom: 200px;
 
}

.col{
    width: 60%;
    padding: 50px;
    background-color: rgb(241, 241, 241);
    position: absolute;
    left: 20%;
    top: 160%;
    display: flex;
    flex-wrap: wrap;
    opacity: 0.9;
    border-radius: 10px 50px;
}

.col .text-each{
    margin: 20px;
}

.text-each h4{
    font-size: 30px;
    margin-bottom: 10px;
}

.text-each p{
    font-size: 20px;
    line-height: 30px;
}





.section-footer{
    width: 100%;
    height: 10vh;
    padding: 5px 40px;
    position: absolute;
    top: 360%;
}

.section-footer img{
    width: 110px;
    
}

.item-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-footer span{
    color: orangered;
}

.text-footer p{
    margin: 5px;
}

.copyright span{
    color: orangered;
}


.contact-img{
    width: 30%;
    height: 15%;
    background: url(/images/call.jpg);
    position: absolute;
    margin-top: 60%;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50px 10px;
    left: 35%;
    
    
}

.contact-img a{
    text-decoration: none;
    color: orangered;
    position: absolute;
    left: 10%;
    background-color: gainsboro;
    padding: 10px;
    top: 80%;
    font-size: 30px;
    visibility: hidden;
    cursor: pointer;
    
}

.contact-img:hover a{
   
    visibility:visible;
}

.advert{
    width: 400px;
    height: 100px;
    background-color: orangered;
    position: absolute;
    top: 330%;
    left: 25%;
    border-radius: 10px 50px;
    border: solid 3px white;
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.742);
    padding: 20px 20px;
    text-align: center;
}

.advert a{
    color: white;
    letter-spacing: 1px;
    text-decoration: none;
    font-size: 17px;
    text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.788);
}


.advert img{
    padding: 10px;
    width: 70px;
    position: absolute;
    top: -30px;
    left: 90%;
    background-color: orangered;
    border-radius: 50%;
    border: solid 3px white;
}